header nav{
    display: flex;
    justify-content: space-between;
    background-color: #0a0908;
    
    
}
h1{
    margin-left: 50px;
    font-family: lucida handwriting;
}
a{
    margin-right: 10px;
    text-decoration: none;
    font-family: "Abril Fatface", serif;
    transition: color 0.3s ease-out;
    color: #0317f2;
}
a:hover{
    color: #fcfbfc;
}

.main_p{
    width: 500px;
    /* height: 400px; */
    
    
}
.m_c{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    
}
header nav ul{
    display: inline;
    
    margin: 10 1em;
    
}
.nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    display: inline;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1em;
    
   
}

/* Main Content and Sidebar Layout */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: row;
    background-color: #0a0908;
    
}

/* Main Content */
main {
    order: 2;
    flex: 3;
    background-color: #49111c;
    
}

main article img {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.read-more {
    display: inline-block;
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease-in;
}
.read-more:hover{
    /* transform: scale(1.2); */
    background-color: #1DA1F2;
}

/* Sidebar */
aside {
    order: 1;
    flex: 1;
    background-color:#5e503f;
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    max-width: 300px;
}

aside h3 {
    margin-bottom: 15px;
}

aside ul li {
    margin-bottom: 10px;
    
}

aside ul li a {
    text-decoration: none;
    color: #ff6f61;
    font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
aside ul {
    list-style: none;
    padding: 0;
    max-height: 500px;
    /* max-width: 300px; */
    overflow-y: auto; 
}
aside ul li img {
    width: 250px; 
    height: 150px;
    /* border-radius: 50%; Make the image circular */
    margin-right: 10px; 
}

/* Footer */

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    margin: 0 15px;
    font-size: 24px;
    color: #333;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.2);
}


.social-icon.instagram:hover {
    color: #E1306C; 
}

.social-icon.twitter:hover {
    color: #1DA1F2; 
}

.social-icon.threads:hover {
    color: #1717b0; 
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #F4DFBA;
    color: #333;
}

footer p {
    margin-top: 10px;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-top: 10px;
    }
    

    aside {
        margin-right: 0;
        margin-bottom: 20px;
        
    }

    main {
        flex: none; 
    }

    
    .food-cards {
        flex-direction: row;
        align-items: center;
    }

    .card {
        max-width:45%;
        margin-bottom: 20px; 
    }

    .card-image {
        height: 50px; 
    }

    
    h1, h2, h3 {
        font-size: 1.5em; 
    }

    .card-content h3 {
        font-size: 16px;
    }

    .card-content p {
        font-size: 12px;
    }
}








.food-cards {
    display: flex;
    justify-content: space-around; 
    
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    
}



.card {
    background-color: #fff;
    border-radius: 8px;
    
    overflow: auto;
    width: 28%; 
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
    background-color: orange;
    box-shadow: 0 5px 20px beige;
    
}


.card-image {
    width: 100%;
    height: 180px; 
    object-fit: cover; 
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.card-content p {
    font-size: 14px;
    color: #777;
}
article {
    /* min-height: 100vh; */
    padding: 20px;
}
html 
{
    color: white;
    background-color: #0a0908;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;
    /* width: 500px;
    height: 5; */
    

}
input{
    width: 200px;
    height: 30px;
    margin-left: 10px;
    font-family: "Abril Fatface", serif
}
button{
    margin-top: 10px;
    height: 30px;
    width: 80px;
    background-color: #ff6f61;
    color: white;
    font-family: "Abril Fatface", serif;
    /* padding: 10px 20px; */
    /* text-decoration: none; */
    border-radius: 5px;
    transition: background-color 0.5s ease-in;
}
button:hover{
    background-color: #1DA1F2;
}
body{
    font-family: "Edu VIC WA NT Beginner", cursive;
/*     font-size: 40px; */
    
    
}
